<!DOCTYPE html>
<html>
<head>
<title>Santi Dev</title>
</head>
<body>
      <h1>Santi Dev</h1>
      <img src="https://avatars.githubusercontent.com/u/65666330?s=400&u=0fb1e373d54922ef40a914aaecfc6487ae121194&v=4" 
        alt="foto perfil" width="150" height="150">
      <p>On my way to becoming a Full Stack Developer, I like challenges and I'm interested in
        technologies and frameworks that can help people and companies to improve their growth and development processes. Excellent communication and interpersonal skills, great capacity for fast and proactive learning, teamwork is assured progress.
        Creativity and orientation to solve problems. Good sense of humor. Attention to details..
      </p>
      <h3>Contact me!</h3>
      <p><b>email:</b> santiago.requelme.e@darwoft.com</p>
      <a href="https://t.me/santirequelme">TELEGRAM</a> 

      <section>
          <h3>Personal Experience</h3>
          <p>In my first steps on my career as a Full Stack developer 
            I have done some personal web projects for the completion 
            of a web programming course based on technologies, 
            such as python, django javascript, html, css, bootstrap, sqlite, 
            and recently starting in the React JS environment, Node JS,
            express and typescript.
          </p>
      </section>
      <h3>Languages</h3>
      <ul>
        <li>Spanish: Mother tongue</li>
        <li>English: Advanced</li>
        <li>Portuguese: Advanced</li>
      </ul>
      <section>

      </section>
      <aside>
        <h3>Hobbies</h3>
        <ul>
          <li>surf</li>
          <li>play guitar</li>
          <li>djing</li>
        </ul>
      </aside>
      <footer>
        SANTIAGO REQUELME 2021 
      </footer>

  
  

</body>
</html>
